<div class="wrapper">
    <nav>
      <h1>Product List</h1>
      
          <div class="right-side">
              <button routerLink="add-product"   routerLinkActive="activebutton"
              ariaCurrentWhenActive="page">ADD</button>
              <button>MASS DELETE</button>
        </div>

        </nav>

        <hr>
  <main>
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>




</main>
  
  
<hr>
  <footer>
    <p>Scandiweb Test assignment</p>
  </footer>
        


  </div>