<div class="wrapper">
  <nav>
    <h1>Product Add</h1>
    
        <div class="right-side">
            <button routerLink="add-product"   routerLinkActive="activebutton"
            ariaCurrentWhenActive="page">Save</button>
            <button>Cancel</button>
      </div>

      </nav>

      <hr>
<main>
<label for="fdfsdf">SKU</label>
  <input type="text" name="" id="">
  <label for="fdfsdf">Name</label>
  <input type="text" name="" id="">
  <label for="fdfsdf">Price ($)</label>
  <input type="text" name="" id="">
 <select name="" id="productType">
  <option value="0">Select car:</option>
  <option value="1">Audi</option>
  <option value="2">BMW</option>
  <option value="2">BMW</option>
 </select>

</main>


<hr>
<footer>
  <p>Scandiweb Test assignment</p>
</footer>
      


</div>